python-telegram-bot
python-telegram-bot[job-queue]
requests
requests[socks]
python-dotenv
openpyxl
Babel
Pillow
pytz
pandas 
pandas_ta
tradingview-ta
feedparser
chardet
aiohttp 
beautifulsoup4 
lxml
brotli
psutil
loguru
mplfinance>=0.12.10b0
matplotlib>=3.7.0
APScheduler